doctype html

html
  style.
    form {
    text-align: center;
    display: inline;
    justify-content:space-between;
    }
    input{
    background-color: #FFFEFF;
    box-shadow: inset 0 0 0 3px #6cc091;
    color: #6cc091 !important;
    border-radius: 30px;
    border: 3px;
    padding:10px;
    width:400px;
    }
    select{
    background-color: #FFFEFF;
    color: ##9a9a9a !important;
    border: 3px;
    width:400px;
    height: 40px;
    border-radius: 5px;
    display: block;
    text-align: center;
    }
    h3{
    color:white !important;
    text-align: center;
    }
    .selectWrapper{
    border-radius:30px;
    width:400px;
    overflow:hidden;
    background:#cccccc;
    border:3px solid #80BD93;
    text-align: center !important;
    display: inline-block;
    }
    .selectBox{
    width:395px;
    height:40px;
    border:0px;
    outline:none;
    text-align: center !important;
    display: inline;
    }
    .columnLeft {
    display: flex;
    float: left;
    width: 50%;
    border-right: solid;
    max-height: 800px;
    overflow: auto;
    backface-visibility: hidden;
    will-change: overflow;
    }
    .columnRight{
    overflow: auto;
    float: right;
    width: 50%;
    background-color: #595866;
    height:800px;
    text-align: center !important;
    }
    label {
    display: inline-block;
    width: 140px;
    text-align: right;
    }​
    .formfield * {
    vertical-align: middle;
    }
    textarea{
    background-color: #FFFEFF;
    box-shadow: inset 0 0 0 3px #6cc091;
    color: #6cc091 !important;
    border: 3px;
    padding:10px;
    width:400px;
    height: 200px;
    -webkit-border-radius: 5px;
    border-radius: 30px;
    }
    p {
    width:500px;
    height:4px;
    display:inline-block;
    }
    input[type="checkbox"]{
    width: auto;
    text-align: center;
    position: relative;
    border: none;
    box-shadow: none;
    }
    .radio-label {
    display: inline-block;
    vertical-align: top;
    margin-right: 3%;
    }
    .radio-input {
    display: inline-block;
    vertical-align: top;
    }


  head
    title Edit
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
  body.subpage
    
    header#header
      .inner
        a.logo(href='index.html')
        nav#nav
          a(href='index') Home
          a(href='mydocs') My Documents
          a(href='elements') Account
        a.navPanelToggle(href='#navPanel')
          span.fa.fa-bars
    section
      .columnLeft
        embed(src=file, width='100%', height='800px')
      .columnRight
        p
        h3 Edit Form Information
        script(src='js/views/edit.js', language='Javascript', type='text/javascript')
        form(action='#', method='post', id='edit-form')
          .inner
            table(id='table',name='table')
                thead
                    th * = required
                tbody
                each field,i in doc

                    if(i != 'form_type')
                        if(i != 'pdf')
                            tr
                                case i
                                    when 'last_modified'
                                        td Last Modified
                                        td= doc.last_modified.substr(0,10)

                                    when 'time_uploaded'
                                        td Date Uploded
                                        td= doc.time_uploaded.substr(0,10)

                                    when 'date'
                                        td= "Date" + " *"
                                        td 
                                            input#docNum(name = i,type='text', placeholder=i,value = field.substr(0,10))
                                    when 'project_number'
                                        td= "Project Number"+ " *"
                                        td 
                                            input#docNum(name = i,type='text', placeholder=i,value = field)
                                    when 'city'
                                        td= "City"+ " *"
                                        td 
                                            input#docNum(name = i,type='text', placeholder=i,value = field)
                                    when 'county'
                                        td= "County" + " *"
                                        td 
                                            input#docNum(name = i,type='text', placeholder=i,value = field)
                                    default
                                        td= i
                                        td 
                                            input#docNum(name = i,type='text', placeholder=i,value = field)
                                        td
                                            input(type='button',style="width:auto;" value='delete', onclick="deleteRow(this);")
                    else 
                        tr
                            td= "Form Type" + " *"
                            td
                                .selectWrapper
                                  select.selectBox(name='form_type')
                                    case doc.form_type
                                        when 'WPA'
                                            option(value='') -Form Type-
                                            option(value='WPA',selected) WPA
                                            option(value='PWA') PWA
                                            option(value='CWA') CWA
                                        when 'PWA'
                                            option(value='') -Form Type-
                                            option(value='WPA') WPA
                                            option(value='PWA',selected) PWA
                                            option(value='CWA') CWA
                                        when 'CWA'
                                            option(value='') -Form Type-
                                            option(value='WPA') WPA
                                            option(value='PWA') PWA
                                            option(value='CWA', selected) CWA
                                        default
                                            option(value='') -Form Type-
                                            option(value='WPA') WPA
                                            option(value='PWA') PWA
                                            option(value='CWA') CWA   

            p
            ul.actions
              li
              input.button.alt(value='Submit Changes', type='submit')
              input(type='button', value='Add New Box', onclick="addRow();")
            p
            ul.actions
              li
                
    //Scripts
      <script src="js/jquery.min.js"></script>
      <script src="js/skel.min.js"></script>
      <script src="js/util.js"></script>
      <script src="js/main.js"></script>
      <script src="js/edit.js"></script>
      </body>
      </html>

