doctype html
//
  Projection by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  style.
    form {
    text-align: center;
    display: inline;
    padding: 100px;
    }
    input{
    background-color: #FFFEFF;
    box-shadow: inset 0 0 0 3px #6cc091;
    color: #6cc091 !important;
    border-radius: 30px;
    border: 3px;
    padding:10px;
    width:400px;
    }
    select{
    background-color: #FFFEFF;
    color: #9a9a9a !important;
    border:3px solid #80BD93;
    padding:10px;
    width:400px;
    height: 40px;
    border-radius: 5px;
    }
    .selectWrapper{
    border-radius:30px;
    display:inline-block;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #cccccc;
    }
    .selectBox{
    width:395px;
    height:40px;
    border:0px;
    outline:none;
    }
    input[type=date]{
      width:200px;
    }
    .columnCenter {
    background-color: #595866 !important;
    text-align: center !important;
    height: 100%;
    }
    td.empty{
    opacity: .4!important;
    font-style: italic;
    }

    p {
      width:200px;
      display:inline-block;
      height:0px;
    }
    footer{
    background-color: #595866 !important;
    }
  head
    title Search
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
     
  body.subpage
    header#header
      .inner
        nav#nav
          a(href='index') Home
          if(logged_in)      
            a(href='mydocs') My Documents
            a(href='upload') Upload
            a(href='get_accounts') Account
          else
            a(href='/login') Log In
          a(href='about') About
                   
        a.navPanelToggle(href='#navPanel')
          span.fa.fa-bars
           
    footer#footer
      .inner
        h3 Search For A Document
        form(name = 'search',action='#', method='post')
          .selectWrapper
            select.selectBox(name='form_type')
              option(value='') -Form Type-
              option(value='WPA') WPA       
              option(value='PWA') PWA      
              option(value='CWA') CWA
                       
          .field.half.first
            input#docNum(name='project_number', type='text', placeholder='Project Number') 
                       
          .field.half.first
            p From
            p To
          .field.half
            input#f_date(name='begin_date', type='date', placeholder='From Date')
            input#t_date(name='end_date', type='date', placeholder='To Date')
                       
          .field.half.first
            input#name(name='city', type='text', placeholder='City')
                       
          .field.half.first
            input#name(name='county', type='text', placeholder='County')
          p
          ul.actions
            li
              input.button.alt(value='Search', type='submit')
        footer#footer
          hr
        .columnCenter
          p Sort By:
          div
           .selectWrapper
            select.selectBox
              option(value='') Newest First
              option(value='') Oldest First
              option(value='') A-Z
              option(value='') Z-A

          block content
            div.container(style='margin:20px')
              table
                thead
                  tr
                    th #
                    th Last Modified
                    th Form Type
                    th Form Number
                    th City
                    th County
                    th Date
                    th View
                tbody
                  if(docs.length)
                  - for (var i = 0; i < docs.length; i++)
                    tr
                      td= i+1
                      td= docs[i].last_modified.substr(0,10)
                      if(docs[i].form_type != "") 
                        td= docs[i].form_type
                      else
                        td(class="empty") Form Type
                      if(docs[i].project_number != "") 
                        td= docs[i].project_number
                      else
                        td(class="empty") Form Number
                      if(docs[i].city != "") 
                        td= docs[i].city
                      else
                        td(class="empty") City
                      if(docs[i].county != "") 
                        td= docs[i].county
                      else
                        td(class="empty") County
                      if(docs[i].date != "") 
                        td= docs[i].date.substr(0,10)
                      else
                        td(class="empty") Date
                      
                      
                      
                      td 
                        a.button(href='/view'+'?id='+docs[i].pdf) view
          
      //Scripts
      <script src="js/jquery.min.js"></script>
      <script src="js/skel.min.js"></script>
      <script src="js/util.js"></script>
      <script src="js/main.js"></script>
      </body>
      </html>
